.note{
    border-left: 3px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
}
.task-list{
    margin: 0;
    padding: 0;
}
.task-list li{
    list-style: none;
}
.datepicker{
    z-index: 10000!important;
}
.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
    padding: 13px;
    line-height: 1.42857143;
    vertical-align: middle;
    border-top: 1px solid #ddd;
}
.box-body.no_overflow{
    max-height: 300px;
    overflow: auto;
}
.box-body.no_overflow::-webkit-scrollbar {
    width: 12px;
}
/* Track */
.box-body.no_overflow::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

/* Handle */
.box-body.no_overflow::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgba(255,0,0,0.8);
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}
.box-body.no_overflow::-webkit-scrollbar-thumb:window-inactive {
    background: rgba(255,0,0,0.4);
}